#markdown
##markdown
###markdown
####markdown

#markdown

##markdown

###markdown

####markdown

##############markdown

## markdown
### markdown
##### markdown
###### markdownxkej

#### for italics and bold

In [2]:
-normal text
 -sub text1
 -subtext2

SyntaxError: invalid syntax (<ipython-input-2-d6c4b54bb05e>, line 1)

#### for italic and bold
* point1*
* point2*

* normal text
 * subtext1
 * subtext2

![image](https://www.google.com/logos/doodles/2015/googles-new-logo-5078286822539264.3-hp2x.gif)

* [1]
[1](https://drive.google.com/drive/my-drive)

In [4]:
print("hello gitam",end="|||")
print("good morning")

hello gitam|||good morning

In [ ]:
a=10 # single variable assignment
a =b = c ==1 # multi variable assignment
a , b, c =1,2,3 #multi variable assignment with diff voter

In [9]:
a= "python"
b="p"
type(a)
c=10
type(c)

int

In [12]:
a=10.5
print(type(a))
id(a)

<class 'float'>

54887872

In [11]:
a =10
b =10
print(id(a))
id(b)

1588320640

1588320640

In [16]:
name="abc"
age="10"
print("my name is",name,"my age is",age)

my name is abc my age is 10

In [17]:
a =b =20 # multi variable assignment with single value

In [18]:
a

20

In [19]:
b

20

In [24]:
a=input("enter the string")
type(a)

enter the stringpython

str

In [25]:
b=input("enter the string")
type(b)

enter the string123

str

In [26]:
c=int(input("enter the number"))
type(c)

enter the number12345

int

In [2]:
d = float(input("enter a number"))
type(d)

enter a number12.3

float

In [3]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=a+b
print(c)

enter a number2
enter a number5
7

In [4]:
#fundamental datatypes
#int
#float
#complex #i+2j,1 -realpart,-2j -imaginary part
#boolean
#string

In [5]:
x =10
print(x)
type(x)

10

int

In [6]:
y=1.2
print(y)
type(y)

1.2

float

In [7]:
z=2+3j
print(z)
type(z)

(2+3j)

complex

In [8]:
x= float(12)
x

12.0

In [9]:
y= complex(2,3)
y

(2+3j)

In [11]:
c1=1+2j
c2=2+3j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(3+5j)
(-1-1j)
(-4+7j)

In [13]:
a=True
type(a)

bool

In [16]:
b=False
type(b)

bool

In [17]:
a>b

True

In [18]:
a<b

False

In [19]:
True>False

True

In [20]:
s1="abc"
s2='abc'
print(s1)
s2

abc

'abc'

In [21]:
type(s1)
type(s2)

str

In [22]:
i=100
print(type(i))

<class 'int'>

In [24]:
s1=str(i)
print(s1)
type(s1)

100

str

In [25]:
f1=float(i)
print(f1)
type(f1)

100.0

float

In [26]:
s ="100"
print(type(s))

<class 'str'>

In [27]:
a1=int(s)
type(a1)

int

In [28]:
a='1234'
len(a)

4

# operators

In [30]:
n1=10
n2=20
print(n1+n2)
print(n1-n2)
print(n1/n2)
print(n1*n2)
print(n1%n2)
print(n1//n2)
print(n1**n2)
print(n1>n2)
print(n1<n2)
print(n1<=n2)
print(n1==n2)
print(n1!=n2)

30
-10
0.5
200
10
0
100000000000000000000
False
True
True
False
True

In [31]:
12+5

17

In [32]:
12//5

2

In [33]:
-12/5

-2.4

In [34]:
12**5

248832

In [35]:
12%5

2

In [42]:
x =2
y =3
print(x>=5 and x<10)
print(x>=-5 and x<=10)
print(not(x))

False
True
False

In [45]:
x=2
y=3
print(x==y)
print(x!=y)
print(x<y)
print(x>y)
print(x<=y)
print(x>=y)

False
True
True
False
True
False

In [52]:
str1="abc"
print('a' in str1)
print('a'not in str1)

True
False

# conditional stat
1.if
2.if else
3.elif

# syntax:(elif)else part is optinal in
- if condition:
  -statement
- elif
  - statements
- else
  - statements

In [61]:
#to check given no. is +ve or -ve
a=10
if a>0:
        print("+ve")

+ve

In [62]:
a=-10
if a>0:
    print('+ve')
else:
    print('-ve')

-ve

In [68]:
a=0
if a>0:
    print('+ve')
elif a<0:
    print('-ve')
else:
    print('zero')

zero

# to check given no. is evn or odd
# to check giv no. is mul of 3 &5
# check the i/p is leap year or not
# take 3 no. as i/p ,and find the biggest of no.s
# read the char and find whether it is vowel or cons